################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/tang.cdt-ec/.vs/tang.cdt-ec/v15/Server/sqlite3
/tang.cdt-ec/.vs/tang.cdt-ec/v16/Server/sqlite3
